# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Data (optional — only if large/private)
*.csv
*.xlsx

# Logs
*.log
plots/

# Scripts
converting_rds_to_csv_for_Fig2D_and_Fig3D.R 
coverting_rds_files_to_csv_for_meta-analysis.R
